.Gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Gallery img {
  height: 200px;
  margin: 5px;
}

.Gallery button {
  width: 25%;
  margin: 10px;
}

.Gallery .photo-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}
.photo-container {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

.photo-container img {
  /* Just in case there are inline attributes */
  width: auto !important;
  height: 200px !important;
}

@media (max-width: 1200px) {
  .photo-container {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  .photo-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  .photo-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  .photo-container {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
