.Header {
  display: flex;
  align-items: center;
  height: 88px;
  padding: 0 7.5%;
}

.Header nav {
  width: 100%;
}

.Header a {
  text-decoration: none;
  color: #000;
}

.Header ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Header .user-container {
  display: flex;
  align-items: center;
}

.Header span {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-left: 10px;
}

.Header .right-nav-container {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.Header i {
  font-size: 23px;
}
