.LandingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/public/assets/landing_background.jpg");
  background-position: center;
  background-size: 150%;
  margin-top: 0 !important;
}

.LandingPage .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LandingPage .logo {
  max-width: 220px;
  margin: 20px;
}

.LandingPage h2 {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 69px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.LandingPage p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}

.LandingPage .sign-in-button-container {
  width: 100%;
  height: 159px;
  background: #f0b202;
  border-radius: 24px 24px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPage .sign-in-button {
  width: 291px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border: none;
}

@media only screen and (min-width: 768px) {
  .LandingPage {
    flex-direction: row;
    align-items: center;
  }

  .LandingPage .logo {
    max-width: 260px;
  }

  .LandingPage h2 {
    flex: 2;
    margin: 20px;
    text-align: center;
  }
  .LandingPage .button-p-container {
    flex: 1;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .LandingPage .button-p-container p {
    color: black;
  }
  .LandingPage .sign-in-button-container {
    position: relative;
    background-color: transparent;
  }
  .LandingPage .sign-in-button {
    background: #f0b202;
    margin: 10px;
  }
}
