.PastTripCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  padding: 20px 10px 10px 10px;
  border-radius: 5px;
  position: relative;
}

.PastTripCard .info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.PastTripCard h3 {
  font-size: 25px;
  text-align: right;
}

.PastTripCard h4 {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  text-align: right;
}

.PastTripCard img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.PastTripCard i {
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.PastTripCard .button-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.PastTripCard .gallery-nav-button {
  background-color: #f0b202;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  margin-top: 10px;
}

.PastTripCard .gallery-nav-button:hover {
  background-color: black;
  color: #f0b202;
}

@media only screen and (min-width: 768px) {
  .PastTripCard {
    margin-bottom: 30px;
  }

  .PastTripCard img {
    height: 150px;
    width: 150px;
  }

  .PastTripCard h3 {
    font-size: 30px;
  }

  .PastTripCard h4 {
    font-size: 17px;
  }
}
