.PlannedTrips {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PlannedTrips h2 {
  margin: 20px;
}

.PlannedTrips ul {
  width: 85%;
}

@media only screen and (min-width: 768px) {
  .PlannedTrips ul {
    width: 50%;
  }
}
