.PreferenceForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.PreferenceForm div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PreferenceForm input {
  display: none;
}

.PreferenceForm label {
  background-color: #e6e6e6;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  width: 84px;
  height: 89px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  flex-direction: column;
  cursor: pointer;
}

.PreferenceForm i {
  font-size: 20px;
  margin-bottom: 7px;
}

.PreferenceForm label:hover {
  background-color: white;
}

input:checked + label {
  border: 2px solid #f0b202;
  box-sizing: border-box;
}

.PreferenceForm button {
  width: 287px;
  height: 68px;
  background: #f0b202;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  margin: 20px;
}

.PreferenceForm button:hover {
  background-color: white;
}

.PreferenceForm .fa-heart {
  color: pink;
}

.PreferenceForm .fa-bowl-food {
  color: firebrick;
}
.PreferenceForm .fa-martini-glass-citrus {
  color: lightseagreen;
}
.PreferenceForm .fa-torii-gate {
  color: brown;
}
.PreferenceForm .fa-chess-rook {
  color: darkslategray;
}
.PreferenceForm .fa-building-columns {
  color: goldenrod;
}
.PreferenceForm .fa-masks-theater {
  color: black;
}
.PreferenceForm .fa-music {
  color: black;
}
.PreferenceForm .fa-glasses {
  color: black;
}
.PreferenceForm .fa-peace {
  color: purple;
}
.PreferenceForm .fa-gem {
  color: darkblue;
}
.PreferenceForm .fa-baby {
  color: palevioletred;
}
.PreferenceForm .fa-rainbow {
  color: deeppink;
}
.PreferenceForm .fa-people-group {
  color: purple;
}
.PreferenceForm .fa-umbrella-beach {
  color: burlywood;
}
.PreferenceForm .fa-graduation-cap {
  color: darkslategray;
}
.PreferenceForm .fa-person-skiing {
  color: orange;
}
.PreferenceForm .fa-tree {
  color: forestgreen;
}
.PreferenceForm .fa-wine-glass {
  color: darkred;
}
.PreferenceForm .fa-bag-shopping {
  color: limegreen;
}

@media only screen and (min-width: 768px) {
  .PreferenceForm {
    width: 50%;
  }
}
