.PreferencesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PreferencesPage h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid lightgray;
  width: 85%;
  padding-bottom: 20px;
  margin: 20px 20px;
}

.PreferencesPage div {
  font-weight: bolder;
}

@media only screen and (min-width: 768px) {
  .PreferencesPage h2 {
    width: 50%;
  }
}
