.RecommendationCard {
  width: 85%;
  height: 429px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background: #efefef;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}

.RecommendationCard:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
}

.RecommendationCard img {
  height: 355px;
}

.RecommendationCard .info-container {
  width: 90%;
  padding: 2%;
  display: flex;
  justify-content: space-between;
}

.RecommendationCard p {
  font-family: "Oswald", sans-serif;
}

.RecommendationCard i {
  margin-right: 5px;
  color: #f0b202;
}
