.RecommendationPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RecommendationPage h2 {
  font-size: 18px;
  margin: 10px;
  width: 85%;
  text-align: left;
}

.RecommendationPage .thumbs-container {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin-top: 40px;
}

.RecommendationPage .fa-thumbs-up {
  font-size: 65px;
  cursor: pointer;
}

.RecommendationPage .thumbs-up:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
}

.RecommendationPage .thumbs-down:hover {
  transform: scale(1.2) rotate(180deg);
  transition: 0.5s ease;
}

.RecommendationPage .thumbs-down {
  transform: rotate(180deg);
}

.RecommendationPage .CityDetails {
  display: none;
}
@media only screen and (min-width: 768px) {
  .RecommendationPage .mobile-view {
    display: none;
  }

  .RecommendationPage .CityDetails {
    display: flex;
  }
}
