.SingleDayItinerary {
  border-left: 5px solid #f0b202;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

.SingleDayItinerary h3 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.SingleDayItinerary p {
  font-size: 15px;
  position: absolute;
  z-index: 1;
  color: whitesmoke;
  top: 5px;
  left: 5px;
}

.SingleDayItinerary .img-container {
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 20px;
}

.SingleDayItinerary img {
  width: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  filter: brightness(50%);
}
