.UserProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserProfile img {
  height: 125px;
  border-radius: 50%;
  margin-top: 25px;
}

.UserProfile h2 {
  font-family: "Merriweather", serif;
  margin: 20px 0px 35px 0px;
}

.UserProfile nav {
  width: 85%;
  text-align: left;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.UserProfile ul {
  width: 85%;
}

.UserProfile a {
  color: black;
  text-decoration: none;
}

.UserProfile li {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.UserProfile .bordered-li {
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 15px;
}

.UserProfile i {
  color: #f0b202;
}

.UserProfile button {
  width: 287px;
  height: 68px;
  background: #f0b202;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  margin-top: 65px;
}

@media only screen and (min-width: 768px) {
  .UserProfile nav {
    font-size: 25px;
  }
}
