body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f5f5;
}

.App main {
  margin-top: 90px;
}

.App button {
  cursor: pointer;
}

.App h2 {
  font-family: "Roboto", sans-serif;
}

.App h3 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
}
