body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App button {
  cursor: pointer;
}

.App h2 {
  font-family: "Roboto", sans-serif;
}

.App h3 {
  font-family: "Oswald", sans-serif;
}
